In [ ]:
import pandas as pd

In [ ]:
df.info()

# 1. Extract

In [ ]:
df = pd.read_csv('Chocolate_Sales.csv')
print("Extracted Data:")
print(df.head())

# 2. Transformation

## Removing leading and trailing spaces from column names:

In [ ]:
df.columns = df.columns.str.strip()
print("Transformed Data:")
print(df.head())

## Removing leading and trailing spaces from string data in each column

In [ ]:
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)
print("Data after removing leading and trailing spaces:")
print(df.head())

## Converting the Amount column to numeric values by removing $ and , characters

In [ ]:
df['Amount'] = df['Amount'].replace('[\$,]', '', regex=True).astype(float)
print("Data after converting 'Amount' column to numeric:")
print(df.head())

## Converting the Date column to datetime format

In [ ]:
sdf['Date'] = pd.to_datetime(df['Date'], format='%d-%b-%y')
print("Data after converting 'Date' column to datetime:")
print(df.head())

# 3. Loading

In [ ]:
df.to_csv('Chocolate_Sales_Cleaned.csv', index=False)
print("\nTransformed Data:")
print(df.head())
print("\nThe cleaned and transformed data has been saved to 'Chocolate_Sales_Cleaned.csv'.")

# 4. ETL Pipeline

In [29]:

input_file_path = 'Chocolate_Sales.csv'
output_file_path = 'Chocolate_Sales_Cleaned.csv'
etl_pipeline(input_file_path, output_file_path)

Extracted Data:
     Sales Person    Country              Product       Date    Amount  \
0  Jehu Rudeforth         UK      Mint Chip Choco  04-Jan-22   $5,320
1     Van Tuxwell      India        85% Dark Bars  01-Aug-22   $7,896
2    Gigi Bohling      India  Peanut Butter Cubes  07-Jul-22   $4,501
3    Jan Morforth  Australia  Peanut Butter Cubes  27-Apr-22  $12,726
4  Jehu Rudeforth         UK  Peanut Butter Cubes  24-Feb-22  $13,685

   Boxes Shipped
0            180
1             94
2             91
3            342
4            184

Transformed Data:
     Sales Person    Country              Product       Date   Amount  \
0  Jehu Rudeforth         UK      Mint Chip Choco 2022-01-04   5320.0
1     Van Tuxwell      India        85% Dark Bars 2022-08-01   7896.0
2    Gigi Bohling      India  Peanut Butter Cubes 2022-07-07   4501.0
3    Jan Morforth  Australia  Peanut Butter Cubes 2022-04-27  12726.0
4  Jehu Rudeforth         UK  Peanut Butter Cubes 2022-02-24  13685.0

   Boxes Shipped
0            180
1             94
2             91
3            342
4            184

The cleaned and transformed data has been saved to 'Chocolate_Sales_Cleaned.csv'.

C:\Users\Capaciti\AppData\Local\Temp\ipykernel_4992\2990527920.py:12: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)